:root {
    --primary-blue: #4a7992;
    --secondary-blue: #4FC3F7;
    --primary-purple: #673AB7;
    --primary-beige: #fff0db;
    --secondary-purple: #9575CD;
    --primary-green: #3A6D53;
    --text-color: #333;
  }
  